/*mod mixin*/

/* line 6, ../_source/sass/_mod.scss */

.order-tag--red,
.order-tag--redBd,
.order-tag--purple,
.order-tag--purpleBd,
.order-tag--grayBd {
	height: 15px;
	line-height: 13px;
	font-size: 11px;
	padding: 0 3px;
	margin: -2px 0 0 6px;
	white-space: nowrap;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
}

/* line 15, ../_source/sass/_mod.scss */

.order-tag--red:first-child,
.order-tag--redBd:first-child,
.order-tag--purple:first-child,
.order-tag--purpleBd:first-child,
.order-tag--grayBd:first-child {
	margin-left: 12px;
}

/* line 19, ../_source/sass/_mod.scss */

.inquiry .listA {
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	min-height: 100%;
	padding-left: 16px;
	background: #fff;
}

/* line 24, ../_source/sass/_mod.scss */

.inquiry .listA li {
	padding: 10px 14px 10px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	overflow: hidden;
}

/* line 28, ../_source/sass/_mod.scss */

.inquiry .listA li:last-child {
	border-bottom: 0 none;
}

/* line 33, ../_source/sass/_mod.scss */

.inquiry-detail ul {
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	background-color: #fff;
}

/* line 36, ../_source/sass/_mod.scss */

.inquiry-detail ul li {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
}

/* line 38, ../_source/sass/_mod.scss */

.inquiry-detail ul li:last-of-type {
	border-bottom: 0 none;
}

/* line 41, ../_source/sass/_mod.scss */

.inquiry-detail ul li > div {
	padding: 10px 14px;
}

/* line 44, ../_source/sass/_mod.scss */

.inquiry-detail ul li .cPurple {
	font-size: 14px;
	display: block;
	color: #52619e;
}

/*===== reset =====*/

/* line 7, ../_source/sass/_phone.scss */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
	margin: 0;
	padding: 0;
}

/* line 37, ../_source/sass/_phone.scss */

body {
	min-width: 320px;
	font: normal 0.65rem/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
	color: #000;
	background: #f2f2f2;
	overflow-x: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	-moz-user-select: none;
	background-color: #f0f0f0;
}

/* line 48, ../_source/sass/_phone.scss */

img,
fieldset {
	border: none;
	vertical-align: middle;
}

/* line 53, ../_source/sass/_phone.scss */

input,
textarea {
	font-size: 12px;
}

/* line 57, ../_source/sass/_phone.scss */

table {
	border-collapse: collapse;
}

/* line 60, ../_source/sass/_phone.scss */

a {
	color: #333;
	text-decoration: none;
}

/* line 64, ../_source/sass/_phone.scss */

a:hover {
	text-decoration: underline;
}

/* line 67, ../_source/sass/_phone.scss */

a:link {
	text-decoration: none;
}

/* line 70, ../_source/sass/_phone.scss */

h1,
h2,
h3,
h4,
h5 {
	font-family: "Microsoft Yahei",Simsun;
	font-weight: 500;
	font-size: 0.65rem;
}

/* line 79, ../_source/sass/_phone.scss */

address,
cite,
dfn,
em,
var {
	font-style: normal;
}

/* line 86, ../_source/sass/_phone.scss */

ul,
ol {
	list-style: none;
}

/* line 90, ../_source/sass/_phone.scss */

li {
	vertical-align: top;
}

/* line 93, ../_source/sass/_phone.scss */

i,
em {
	font-style: normal;
}

/* line 97, ../_source/sass/_phone.scss */

input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}

/* line 101, ../_source/sass/_phone.scss */

input[type="text"] {
	border-radius: 0;
}

/* line 104, ../_source/sass/_phone.scss */

.fred {
	color: #f54545;
}

/* line 107, ../_source/sass/_phone.scss */

.fgray {
	color: #888;
}

/* line 110, ../_source/sass/_phone.scss */

.fblue {
	color: #52619e;
}

/*===== common =====*/

/* line 115, ../_source/sass/_phone.scss */

.footer li a:before,
.pico {
	background-image: url("../images/p_un_ico.png");
	background-repeat: no-repeat;
	background-size: 60px auto;
}

/* line 122, ../_source/sass/_phone.scss */

.header {
	height: 44px;
	max-width: 640px;
}

/* line 126, ../_source/sass/_phone.scss */

.cm-header {
	position: fixed;
	background-color: #f54545;
	color: #fff;
	text-align: center;
	height: 44px;
	line-height: 44px;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	min-width: 320px;
}

/* line 139, ../_source/sass/_phone.scss */

.cm-header a,
.cm-header a:hover,
.cm-header a:link {
	color: #fff;
}

/* line 144, ../_source/sass/_phone.scss */

.cm-title,
.cm-btn-txt,
.cm-back {
	position: absolute;
}

/* line 149, ../_source/sass/_phone.scss */

.cm-title {
	left: 80px;
	right: 80px;
	font-size: 17px;
	line-height: 44px;
}

/* line 155, ../_source/sass/_phone.scss */

.cm-btn-txt {
	font-size: 15px;
	right: 10px;
	bottom: 0;
}

/* line 160, ../_source/sass/_phone.scss */

.cm-back {
	font-size: 15px;
	left: 10px;
	bottom: 0;
}

/* line 165, ../_source/sass/_phone.scss */

.cm-back::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	vertical-align: middle;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	box-sizing: border-box;
	margin-top: -2px;
}

/* line 179, ../_source/sass/_phone.scss */

.ellips {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* line 184, ../_source/sass/_phone.scss */

.banner img {
	width: 100%;
}

/* line 187, ../_source/sass/_phone.scss */

.blankdiv {
	height: 30px;
	padding-bottom: 52px;
}

/* line 191, ../_source/sass/_phone.scss */

.blankdiv100 {
	height: 30px;
	padding-bottom: 100px;
}

/* line 195, ../_source/sass/_phone.scss */

.footer {
	background-color: #fafafa;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_aaa.png) 2 stretch;
	     -o-border-image: url(../images/border_half_aaa.png) 2 stretch;
	        border-image: url(../images/border_half_aaa.png) 2 stretch;
	height: 48px;
	left: 0;
	bottom: 0;
	width: 100%;
	position: fixed;
	display: table;
}

/* line 205, ../_source/sass/_phone.scss */

.footer li {
	display: table-cell;
	width: 20%;
}

/* line 209, ../_source/sass/_phone.scss */

.footer li a {
	display: block;
	width: 100%;
	height: 48px;
	padding-top: 3px;
	text-align: center;
	font-size: 12px;
	color: #888;
	position: relative;
}

/* line 219, ../_source/sass/_phone.scss */

.footer li.on a {
	color: #f54545;
}

/* line 222, ../_source/sass/_phone.scss */

.footer li a:before {
	display: block;
	width: 30px;
	height: 30px;
	content: "";
	margin: 0 auto;
}

/* line 229, ../_source/sass/_phone.scss */

.footer li.btn_index a:before {
	background-position: 0 0;
}

/* line 232, ../_source/sass/_phone.scss */

.footer li.btn_service a:before {
	background-position: 0 -30px;
}

/* line 235, ../_source/sass/_phone.scss */

.footer li.btn_message a:before {
	background-position: 0 -60px;
}

/* line 238, ../_source/sass/_phone.scss */

.footer li.btn_order a:before {
	background-position: 0 -90px;
}

/* line 241, ../_source/sass/_phone.scss */

.footer li.btn_mine a:before {
	background-position: 0 -120px;
}

/* line 244, ../_source/sass/_phone.scss */

.footer li.btn_index.on a:before {
	background-position: -30px 0;
}

/* line 247, ../_source/sass/_phone.scss */

.footer li.btn_service.on a:before {
	background-position: -30px -30px;
}

/* line 250, ../_source/sass/_phone.scss */

.footer li.btn_message.on a:before {
	background-position: -30px -60px;
}

/* line 253, ../_source/sass/_phone.scss */

.footer li.btn_order.on a:before {
	background-position: -30px -90px;
}

/* line 256, ../_source/sass/_phone.scss */

.footer li.btn_mine.on a:before {
	background-position: -30px -120px;
}

/* line 259, ../_source/sass/_phone.scss */

.select::before,
.select::after {
	content: '';
	position: absolute;
	height: 0;
	width: 2px;
	background-color: #fff;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
}

/* line 270, ../_source/sass/_phone.scss */

.common_text {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	box-sizing: border-box;
	padding: 8px;
	background-color: #fff;
}

/* line 276, ../_source/sass/_phone.scss */

.common_text input,
.common_btn input {
	width: 100%;
	font: 400 17px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
	outline: 0;
	border: 0;
	line-height: normal;
}

/* line 284, ../_source/sass/_phone.scss */

.common_btn {
	margin-top: 10px;
}

/* line 287, ../_source/sass/_phone.scss */

.common_btn input {
	height: 38px;
	border-radius: 5px;
	color: #fff;
}

/* line 292, ../_source/sass/_phone.scss */

.common_btn input:active {
	opacity: 0.7;
}

/* line 295, ../_source/sass/_phone.scss */

.btn_blue input {
	background-color: #52619e;
}

/* line 298, ../_source/sass/_phone.scss */

.label {
	height: 14px;
	font-size: 12px;
	padding: 0 3px;
	line-height: 14px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
	white-space: nowrap;
}

/* line 308, ../_source/sass/_phone.scss */

.label_red {
	border: 1px solid #f54545;
	color: #f54545;
}

/* line 312, ../_source/sass/_phone.scss */

.pico {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}

/*===== index =====*/

/* line 320, ../_source/sass/_phone.scss */

.nav-index {
	height: 44px;
	min-width: 320px;
}

/* line 324, ../_source/sass/_phone.scss */

.nav-index ul {
	background-color: #393e66;
	height: 44px;
	left: 0;
	right: 0;
	width: 100%;
	display: table;
	position: fixed;
	z-index: 2;
}

/* line 334, ../_source/sass/_phone.scss */

.nav-index li {
	display: table-cell;
	width: 33.3%;
	text-align: center;
}

/* line 339, ../_source/sass/_phone.scss */

.nav-index a {
	color: #fff;
	position: relative;
	line-height: 44px;
	display: inline-block;
	opacity: 0.5;
}

/* line 346, ../_source/sass/_phone.scss */

.nav-index li.on a {
	opacity: 1;
}

/* line 349, ../_source/sass/_phone.scss */

.nav-index li.on a::after {
	position: absolute;
	height: 2px;
	background-color: #fff;
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-animation: fadeInLeft 0.3s;
}

/* line 359, ../_source/sass/_phone.scss */

.con_index {
	position: relative;
	z-index: 0;
}

/* line 363, ../_source/sass/_phone.scss */

.con_index_tab {
	visibility: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
}

/* line 370, ../_source/sass/_phone.scss */

.con_index_tab.on {
	visibility: visible;
	z-index: 9;
}

/* line 374, ../_source/sass/_phone.scss */

.index_tab_in {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* line 382, ../_source/sass/_phone.scss */

.index_tab_out {
	-webkit-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* line 390, ../_source/sass/_phone.scss */

.banner-index {
	margin-top: 15px;
}

/* line 393, ../_source/sass/_phone.scss */

.pt-list {
	padding: 0 0 100px 15px;
	background-color: #fff;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
}

/* line 398, ../_source/sass/_phone.scss */

.pt-list li {
	border-width: 0 0 1px;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	padding: 15px 15px 15px 0;
	overflow: hidden;
}

/* line 403, ../_source/sass/_phone.scss */

.pt-list li .img {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 15px;
}

/* line 409, ../_source/sass/_phone.scss */

.pt-list li h3 {
	font-size: 15px;
	color: #111;
}

/* line 413, ../_source/sass/_phone.scss */

.pt-list li .info-list {
	color: #888;
	font-size: 13px;
}

/* line 417, ../_source/sass/_phone.scss */

.pt-list li:last-child {
	border-bottom: 0;
}

/*===== service =====*/

/* line 422, ../_source/sass/_phone.scss */

.service-list li a:before {
	background-image: url("../images/p_un_service.png");
	background-repeat: no-repeat;
	background-size: 110px auto;
}

/* line 428, ../_source/sass/_phone.scss */

.service-list ul {
	overflow: hidden;
	margin-top: 15px;
	background-color: #fff;
}

/* line 433, ../_source/sass/_phone.scss */

.service-list li {
	float: left;
	width: 50%;
	box-sizing: border-box;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	font-size: 17px;
}

/* line 440, ../_source/sass/_phone.scss */

.service-list li:nth-of-type(2n+1) {
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
}

/* line 443, ../_source/sass/_phone.scss */

.service-list li:first-of-type {
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
}

/* line 446, ../_source/sass/_phone.scss */

.service-list li:nth-of-type(2) {
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
}

/* line 449, ../_source/sass/_phone.scss */

.service-list li a {
	height: 55px;
	padding: 15px 0 15px 1rem;
	display: block;
	line-height: 54px;
	vertical-align: top;
}

/* line 456, ../_source/sass/_phone.scss */

.service-list li a:before {
	content: "";
	display: inline-block;
	width: 54px;
	height: 54px;
	margin-right: 8px;
	vertical-align: top;
}

/* line 464, ../_source/sass/_phone.scss */

.service-list li.service_ico1 a:before {
	background-position: 0 0;
}

/* line 467, ../_source/sass/_phone.scss */

.service-list li.service_ico2 a:before {
	background-position: -55px 0;
}

/* line 470, ../_source/sass/_phone.scss */

.service-list li.service_ico3 a:before {
	background-position: 0 -55px;
}

/* line 473, ../_source/sass/_phone.scss */

.service-list li.service_ico4 a:before {
	background-position: -55px -55px;
}

/* line 476, ../_source/sass/_phone.scss */

.service-list li.service_ico5 a:before {
	background-position: 0 -110px;
}

/* line 479, ../_source/sass/_phone.scss */

.service-list li.service_ico6 a:before {
	background-position: -55px -110px;
}

/* line 482, ../_source/sass/_phone.scss */

.service-list li.service_ico7 a:before {
	background-position: 0 -165px;
}

/* line 485, ../_source/sass/_phone.scss */

.service-list li.service_ico8 a:before {
	background-position: -55px -165px;
}

/*===== service_select =====*/

/* line 490, ../_source/sass/_phone.scss */

.service_select_info {
	padding: 10px 15px;
}

/* line 493, ../_source/sass/_phone.scss */

.service_select_info h3 {
	font-size: 20px;
}

/* line 496, ../_source/sass/_phone.scss */

.service_select_info p {
	font-size: 14px;
	color: #888;
	line-height: 1.1;
}

/* line 501, ../_source/sass/_phone.scss */

.service_select_box {
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	background-color: #fff;
	padding-left: 15px;
}

/* line 506, ../_source/sass/_phone.scss */

.service_select_box li {
	border-width: 1px 0 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	font-size: 17px;
	padding: 10px 0;
	position: relative;
}

/* line 512, ../_source/sass/_phone.scss */

.service_select_box li:first-child {
	border-top: 0;
}

/* line 515, ../_source/sass/_phone.scss */

.service_select_box li .ico_select {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 15px;
	bottom: 8px;
	border: 1px solid #ccc;
	background-color: #f0f0f0;
	border-radius: 4px;
}

/* line 525, ../_source/sass/_phone.scss */

.service_select_box li.selected .ico_select {
	background-color: #f54545;
	border-color: #c22727;
}

/* line 529, ../_source/sass/_phone.scss */

.service_select_box li.selected .ico_select::before {
	top: 18px;
	left: 9px;
	height: 15px;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

/* line 537, ../_source/sass/_phone.scss */

.service_select_box li.selected .ico_select::after {
	top: 13px;
	left: 4px;
	height: 6px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* line 545, ../_source/sass/_phone.scss */

.service_select_sure {
	position: fixed;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	background-color: #f0f0f0;
	padding: 15px;
	bottom: 0;
	left: 0;
	right: 0;
}

/*===== service_russtore =====*/

/* line 556, ../_source/sass/_phone.scss */

.nav-select {
	height: 44px;
	z-index: 2;
	position: relative;
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

/* line 563, ../_source/sass/_phone.scss */

.nav-select ul {
	position: fixed;
	background-color: #393e66;
	left: 0;
	right: 0;
}

/* line 569, ../_source/sass/_phone.scss */

.nav-select ul li {
	width: 50%;
	float: left;
	box-sizing: border-box;
	line-height: 44px;
	font-size: 15px;
	text-align: center;
	color: #fff;
	position: relative;
}

/* line 579, ../_source/sass/_phone.scss */

.nav-select ul li:first-child {
	border-right: 1px solid #616585;
}

/* line 582, ../_source/sass/_phone.scss */

.nav-select ul li::after {
	content: "";
	width: 7px;
	height: 7px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #fff;
	-ms-transform: rotate(135deg);
	    transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	display: inline-block;
	margin: 0 0 0 5px;
	position: relative;
	top: -3px;
}

/* line 596, ../_source/sass/_phone.scss */

.nav-select ul li.on {
	background-color: #282c47;
}

/* line 599, ../_source/sass/_phone.scss */

.pop_city {
	background-color: #282c47;
	padding-left: 15px;
	position: absolute;
	left: 0;
	right: 0;
	top: 44px;
}

/* line 607, ../_source/sass/_phone.scss */

.pop_city dd {
	font-size: 15px;
	color: #fff;
	line-height: 44px;
	text-align: left;
	padding-left: 45px;
	border-top: 1px solid #8a8c97;
}

/* line 615, ../_source/sass/_phone.scss */

.pop_animate_up {
	display: none;
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* line 624, ../_source/sass/_phone.scss */

.pop_animate_down {
	display: inline;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* line 633, ../_source/sass/_phone.scss */

.fullpage {
	top: 88px;
	background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	bottom: 53px;
	content: "";
	left: 0;
	right: 0;
	z-index: 1;
	display: none;
}

/* line 644, ../_source/sass/_phone.scss */

.service-russtore {
	margin-top: 10px;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	padding-left: 15px;
	background-color: #fff;
}

/* line 650, ../_source/sass/_phone.scss */

.service-russtore::after {
	top: 99px;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	content: "";
	left: 0;
	right: 0;
	z-index: -1;
}

/* line 660, ../_source/sass/_phone.scss */

.service-russtore li {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	padding: 10px 0;
}

/* line 664, ../_source/sass/_phone.scss */

.service-russtore li .hd {
	font-size: 17px;
}

/* line 667, ../_source/sass/_phone.scss */

.service-russtore li .bd {
	font-size: 13px;
	padding-right: 130px;
	position: relative;
}

/* line 672, ../_source/sass/_phone.scss */

.service-russtore li .info_r {
	position: absolute;
	top: 0;
	right: 15px;
	width: 100px;
}

/* line 678, ../_source/sass/_phone.scss */

.service-russtore li .ft {
	padding-top: 5px;
}

/*===== message =====*/

/* line 683, ../_source/sass/_phone.scss */

.message {
	margin-top: 10px;
	background-color: #fff;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	padding-left: 15px;
}

/* line 689, ../_source/sass/_phone.scss */

.message::after {
	background-color: #fff;
	position: fixed;
	bottom: 0;
	top: 55px;
	content: "";
	left: 0;
	right: 0;
	z-index: -1;
}

/* line 699, ../_source/sass/_phone.scss */

.message li {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
}

/* line 702, ../_source/sass/_phone.scss */

.message li a {
	display: block;
	padding: 10px 70px 10px 60px;
	position: relative;
	min-height: 50px;
}

/* line 708, ../_source/sass/_phone.scss */

.message li .img,
.message li .date {
	position: absolute;
	top: 10px;
}

/* line 713, ../_source/sass/_phone.scss */

.message li .img {
	width: 50px;
	height: 50px;
	left: 0;
}

/* line 718, ../_source/sass/_phone.scss */

.message li .img img {
	border-radius: 50%;
	width: 100%;
}

/* line 722, ../_source/sass/_phone.scss */

.message li .img .num {
	position: absolute;
	font-size: 13px;
	line-height: 16px;
	background-color: #f54545;
	color: #fff;
	top: 0;
	right: 0;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	text-align: center;
	font-family: arial;
}

/* line 736, ../_source/sass/_phone.scss */

.message li .date {
	right: 10px;
	color: #888;
}

/* line 740, ../_source/sass/_phone.scss */

.message li h3 {
	font-size: 17px;
	line-height: 1.2;
	margin: 4px 0 3px;
}

/* line 745, ../_source/sass/_phone.scss */

.message li p {
	font-size: 13px;
	color: #888;
}

/*===== presonal =====*/

/* line 751, ../_source/sass/_phone.scss */

.presonal_top {
	background-color: #fff;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	padding: 10px 15px;
	position: relative;
	min-height: 68px;
}

/* line 758, ../_source/sass/_phone.scss */

.presonal_top .img {
	width: 68px;
	height: 68px;
	position: absolute;
	left: 15px;
	top: 10px;
}

/* line 765, ../_source/sass/_phone.scss */

.presonal_top .img img {
	width: 100%;
}

/* line 768, ../_source/sass/_phone.scss */

.presonal_top h3,
.presonal_top p {
	padding-left: 80px;
	line-height: 20px;
}

/* line 773, ../_source/sass/_phone.scss */

.presonal_top h3 {
	font-size: 18px;
	margin-top: 10px;
}

/* line 777, ../_source/sass/_phone.scss */

.presonal_top h3 .label {
	margin-top: -3px;
}

/* line 780, ../_source/sass/_phone.scss */

.presonal_top p {
	font-size: 14px;
	color: #888;
	margin-top: 3px;
}

/* line 785, ../_source/sass/_phone.scss */

.presonal_flist {
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	background-color: #fff;
	margin-top: 10px;
}

/* line 790, ../_source/sass/_phone.scss */

.presonal_flist li {
	padding: 0 0 0 58px;
	position: relative;
}

/* line 794, ../_source/sass/_phone.scss */

.presonal_flist li::before,
.presonal_flist li::after {
	content: "";
	position: absolute;
}

/* line 799, ../_source/sass/_phone.scss */

.presonal_flist li::after {
	border-style: solid;
	border-color: #ccc;
	border-width: 2px 2px 0 0;
	width: 7px;
	height: 7px;
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	right: 15px;
	top: 50%;
	margin-top: -6px;
}

/* line 811, ../_source/sass/_phone.scss */

.presonal_flist li a {
	font-size: 17px;
	padding: 12px 0;
	display: block;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
}

/* line 817, ../_source/sass/_phone.scss */

.presonal_flist li:first-child a {
	border-top: 0;
}

/* line 820, ../_source/sass/_phone.scss */

.presonal_flist .pico {
	position: absolute;
	left: 15px;
	top: 10px;
}

/* line 825, ../_source/sass/_phone.scss */

.ico_dpgl {
	background-position: 0 -180px;
}

/* line 828, ../_source/sass/_phone.scss */

.ico_zhxx {
	background-position: 0 -150px;
}

/* line 831, ../_source/sass/_phone.scss */

.ico_xxtx {
	background-position: -30px -150px;
}

/* line 834, ../_source/sass/_phone.scss */

.ico_sybz {
	background-position: -30px -180px;
}

/* line 837, ../_source/sass/_phone.scss */

.ico_gwgl {
	background-position: 0 -210px;
}

/* line 840, ../_source/sass/_phone.scss */

.ico_yjfk {
	background-position: -30px -210px;
}

/* line 843, ../_source/sass/_phone.scss */

.ico_bbxx {
	background-position: 0 -240px;
}

/*===== animate =====*/

/*mod mixin*/

/* line 6, ../_source/sass/_mod.scss */

.order-tag--red,
.order-tag--redBd,
.order-tag--purple,
.order-tag--purpleBd,
.order-tag--grayBd {
	height: 15px;
	line-height: 13px;
	font-size: 11px;
	padding: 0 3px;
	margin: -2px 0 0 6px;
	white-space: nowrap;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
}

/* line 15, ../_source/sass/_mod.scss */

.order-tag--red:first-child,
.order-tag--redBd:first-child,
.order-tag--purple:first-child,
.order-tag--purpleBd:first-child,
.order-tag--grayBd:first-child {
	margin-left: 12px;
}

/* line 19, ../_source/sass/_mod.scss */

.inquiry .listA {
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	min-height: 100%;
	padding-left: 16px;
	background: #fff;
}

/* line 24, ../_source/sass/_mod.scss */

.inquiry .listA li {
	padding: 10px 14px 10px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	overflow: hidden;
}

/* line 28, ../_source/sass/_mod.scss */

.inquiry .listA li:last-child {
	border-bottom: 0 none;
}

/* line 33, ../_source/sass/_mod.scss */

.inquiry-detail ul {
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	background-color: #fff;
}

/* line 36, ../_source/sass/_mod.scss */

.inquiry-detail ul li {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
}

/* line 38, ../_source/sass/_mod.scss */

.inquiry-detail ul li:last-of-type {
	border-bottom: 0 none;
}

/* line 41, ../_source/sass/_mod.scss */

.inquiry-detail ul li > div {
	padding: 10px 14px;
}

/* line 44, ../_source/sass/_mod.scss */

.inquiry-detail ul li .cPurple {
	font-size: 14px;
	display: block;
	color: #52619e;
}

/* reset */

/* line 11, ../_source/sass/index.scss */

html {
	-ms-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	min-width: 320px;
	height: 100%;
	margin: 0 auto;
}

/* line 17, ../_source/sass/index.scss */

body {
	height: 100%;
}

/* line 20, ../_source/sass/index.scss */

header {
	overflow: hidden;
}

/* line 24, ../_source/sass/index.scss */

input[type="text"],
input[type="search"] {
	-ms-appearance: none;
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

/* line 28, ../_source/sass/index.scss */

.clear {
	clear: both;
}

/* line 32, ../_source/sass/index.scss */

.clearfix,
.bdboxA {
	zoom: 1;
}

/* line 34, ../_source/sass/index.scss */

.clearfix:before,
.bdboxA:before {
	content: "";
	display: table;
}

/* line 38, ../_source/sass/index.scss */

.clearfix:after,
.bdboxA:after {
	content: "";
	display: table;
	clear: both;
}

/* line 53, ../_source/sass/index.scss */

.fl,
.mark {
	float: left;
}

/* line 56, ../_source/sass/index.scss */

.fr,
.subMark {
	float: right;
}

/* line 68, ../_source/sass/index.scss */

.mt10 {
	margin-top: 10px;
}

/* line 71, ../_source/sass/index.scss */

.mt14 {
	margin-top: 14px;
}

/* line 75, ../_source/sass/index.scss */

.cRed {
	color: #f44444;
}

/* line 78, ../_source/sass/index.scss */

.cGray {
	color: #444;
}

/* line 81, ../_source/sass/index.scss */

.cPurple {
	color: #52619e;
}

/* line 85, ../_source/sass/index.scss */

.fz13 {
	font-size: 13px;
}

/* line 88, ../_source/sass/index.scss */

.fz15 {
	font-size: 15px;
}

/*common*/

/* line 93, ../_source/sass/index.scss */

.sign-wall .before::after,
.ico-sign--user,
.ico-sign--psw {
	background-image: url(../images/sign_spr.png);
	background-size: 120px auto;
}

/* line 97, ../_source/sass/index.scss */

.sign-wall .before::after {
	background-size: 8.57143rem auto;
}

/* line 101, ../_source/sass/index.scss */

.ico-sign--user {
	background-position: 0 -60px;
}

/* line 104, ../_source/sass/index.scss */

.ico-sign--psw {
	background-position: -30px -60px;
}

/* line 107, ../_source/sass/index.scss */

.sign-wall {
	width: 100%;
	padding: 4rem 0 5.35714rem;
	background-color: #f54545;
}

/* line 111, ../_source/sass/index.scss */

.sign-wall .before {
	content: '';
	width: 15rem;
	height: 15rem;
	border-radius: 15rem;
	margin: 0 auto;
	display: block;
	background-color: #fff;
	overflow: hidden;
}

/* line 120, ../_source/sass/index.scss */

.sign-wall .before:after {
	content: '';
	width: 5rem;
	height: 3.85714rem;
	display: block;
	margin: 5.35714rem auto 0;
	background-position: 0 0;
}

/*===== inpBoxA =====*/

/* line 131, ../_source/sass/index.scss */

.labelA {
	padding: 16px 0 0 16px;
	color: #111;
}

/* line 135, ../_source/sass/index.scss */

.inpBoxA {
	overflow: hidden;
}

/* line 137, ../_source/sass/index.scss */

.inpBoxA.hasIcon,
.inpBoxA.hasArrowR {
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
}

/* line 139, ../_source/sass/index.scss */

.inpBoxA.hasIcon li,
.inpBoxA.hasArrowR li {
	margin-top: -1px;
	padding-left: 16px;
	border: 0 none;
}

/* line 143, ../_source/sass/index.scss */

.inpBoxA.hasIcon li input,
.inpBoxA.hasIcon li .item,
.inpBoxA.hasArrowR li input,
.inpBoxA.hasArrowR li .item {
	padding-left: 30px;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
}

/* line 151, ../_source/sass/index.scss */

.inpBoxA.hasArrowR li input,
.inpBoxA.hasArrowR li .item {
	padding-left: 0;
}

/* line 154, ../_source/sass/index.scss */

.inpBoxA.hasArrowR li::after {
	border-style: solid;
	border-color: #ccc;
	border-width: 2px 2px 0 0;
	width: 7px;
	height: 7px;
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	right: 15px;
	top: 50%;
	margin-top: -6px;
}

/* line 168, ../_source/sass/index.scss */

.inpBoxA li {
	margin-top: 10px;
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	position: relative;
	background-color: #fff;
	font-size: 17px;
}

/* line 174, ../_source/sass/index.scss */

.inpBoxA li::before,
.inpBoxA li::after {
	content: "";
	position: absolute;
}

/* line 178, ../_source/sass/index.scss */

.inpBoxA li input,
.inpBoxA li .item {
	width: 100%;
	height: 48px;
	line-height: normal;
	padding: 0 16px;
	box-sizing: border-box;
	border: 0 none;
	font-size: 17px;
	display: block;
}

/* line 188, ../_source/sass/index.scss */

.inpBoxA li .item {
	line-height: 48px;
}

/* line 191, ../_source/sass/index.scss */

.inpBoxA li .getVcode {
	color: #52619e;
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 16px;
	height: 100%;
	line-height: 48px;
}

/* line 201, ../_source/sass/index.scss */

.inpBoxA .ico {
	position: absolute;
	left: 16px;
	top: 12px;
	width: 21px;
	height: 21px;
}

/* line 211, ../_source/sass/index.scss */

.order-tag--red {
	background-color: #f54545;
	color: #fff;
}

/* line 216, ../_source/sass/index.scss */

.order-tag--redBd {
	background-color: #fff;
	color: #f54545;
	border: 1px solid #f54545;
}

/* line 222, ../_source/sass/index.scss */

.order-tag--purple {
	background-color: #52619e;
	color: #fff;
}

/* line 227, ../_source/sass/index.scss */

.order-tag--purpleBd {
	background-color: #fff;
	color: #52619e;
	border: 1px solid #52619e;
}

/* line 233, ../_source/sass/index.scss */

.order-tag--grayBd {
	background-color: #fff;
	color: #aaa;
	border: 1px solid #aaa;
}

/* line 240, ../_source/sass/index.scss */

.bdboxA {
	padding-top: 58px;
	margin-top: -44px;
	height: 100%;
	box-sizing: border-box;
}

/* line 252, ../_source/sass/index.scss */

.inquiry--box {
	font-size: 13px;
	color: #444;
}

/* line 255, ../_source/sass/index.scss */

.inquiry--box .tit {
	font-size: 1.35714rem;
}

/* line 259, ../_source/sass/index.scss */

.inquiry--box p span {
	color: #888;
}

/* line 261, ../_source/sass/index.scss */

.inquiry--box p span.cPurple {
	color: #52619e;
	display: inline;
}

/* line 268, ../_source/sass/index.scss */

.inquiry-detail {
	min-height: 100%;
}

/* line 273, ../_source/sass/index.scss */

.inquiry-detail .table {
	width: 100%;
	display: table;
	table-layout: fixed;
}

/* line 277, ../_source/sass/index.scss */

.inquiry-detail .table > div {
	display: table-cell;
	box-sizing: border-box;
	font-size: 12px;
	color: #444;
}

/* line 282, ../_source/sass/index.scss */

.inquiry-detail .table > div:nth-of-type(2n) {
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
}

/* line 287, ../_source/sass/index.scss */

.inquiry-detail--product {
	margin-top: 14px;
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	background-color: #fff;
	overflow: hidden;
}

/* line 292, ../_source/sass/index.scss */

.inquiry-detail--product .imgbox {
	width: 110px;
	height: 110px;
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	text-align: center;
	float: left;
}

/* line 298, ../_source/sass/index.scss */

.inquiry-detail--product .imgbox img {
	width: 80px;
	height: 80px;
	margin-top: 15px;
}

/* line 304, ../_source/sass/index.scss */

.inquiry-detail--product .summary {
	padding-left: 111px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	font-size: 12px;
	color: #444;
}

/* line 309, ../_source/sass/index.scss */

.inquiry-detail--product .summary .name {
	height: 49px;
	line-height: 22px;
	padding: 0 16px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
	overflow: hidden;
}

/* line 315, ../_source/sass/index.scss */

.inquiry-detail--product .summary .name em {
	font-size: 17px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
}

/* line 320, ../_source/sass/index.scss */

.inquiry-detail--product .summary .name:after {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
}

/* line 326, ../_source/sass/index.scss */

.inquiry-detail--product .summary .quantity {
	height: 60px;
	overflow: hidden;
}

/* line 329, ../_source/sass/index.scss */

.inquiry-detail--product .summary .quantity .cell:first-of-type {
	width: 38%;
}

/* line 333, ../_source/sass/index.scss */

.inquiry-detail--product .summary + .table {
	margin-top: 6px;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: transparent;
	-webkit-border-image: url(../images/border_half_ccc.png) 2 stretch;
	     -o-border-image: url(../images/border_half_ccc.png) 2 stretch;
	        border-image: url(../images/border_half_ccc.png) 2 stretch;
}

/* line 338, ../_source/sass/index.scss */

.inquiry-detail--product .cell {
	padding: 10px 16px;
}

/* line 340, ../_source/sass/index.scss */

.inquiry-detail--product .cell span {
	font-size: 14px;
	display: block;
}

/* line 350, ../_source/sass/index.scss */

.sign-btnarea {
	padding: 16px;
}

/* line 352, ../_source/sass/index.scss */

.sign-btnarea .sign-btn {
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	border-radius: 6px;
	background-color: #52619e;
	color: #fff;
	text-align: center;
	display: block;
}

/* line 362, ../_source/sass/index.scss */

.sign-btnarea .sign-btn.on {
	background-color: #393e66;
}

/* line 367, ../_source/sass/index.scss */

.signup,
.forgetPsw {
	color: #52619e;
}

/* line 370, ../_source/sass/index.scss */

.signup {
	float: left;
	margin-left: 16px;
}

/* line 374, ../_source/sass/index.scss */

.forgetPsw {
	float: right;
	margin-right: 16px;
}

/* line 381, ../_source/sass/index.scss */

.iscroll-wrapper {
	position: relative;
	-webkit-perspective: 1000;
	overflow: hidden;
	padding-top: 0 !important;
	padding-bottom: 55px;
	margin-top: -40px !important;
}

/* line 388, ../_source/sass/index.scss */

.nav-select + .iscroll-wrapper {
	padding-bottom: 0;
}

/* line 391, ../_source/sass/index.scss */

.nav-index + .con_index .iscroll-wrapper {
	margin-top: 0px !important;
	padding: 0 !important;
}

/* line 396, ../_source/sass/index.scss */

.iscroll-container {
	width: 100%;
	min-height: 115%;
	position: relative;
	overflow: hidden;
}

/* line 402, ../_source/sass/index.scss */

.loading_hd,
.loading_bd {
	width: 100%;
	text-align: center;
	height: 44px;
	line-height: 44px;
	position: absolute;
	z-index: 99;
}

/* line 410, ../_source/sass/index.scss */

.loading_hd {
	top: 0;
}

/* line 412, ../_source/sass/index.scss */

.loading_hd + .listA {
	margin: 44px 0 60px;
}

/* line 415, ../_source/sass/index.scss */

.loading_hd + .service-russtore {
	margin: 44px 0 60px;
}

/* line 418, ../_source/sass/index.scss */

.loading_hd + .banner {
	margin: 44px 0 0;
}

/* line 422, ../_source/sass/index.scss */

.loading_bd {
	bottom: 0;
	height: 60px;
}

/* line 427, ../_source/sass/index.scss */

.con_index {
	padding-top: 44px;
	height: 100%;
	box-sizing: border-box;
}

/* line 431, ../_source/sass/index.scss */

.nav-index + .con_index {
	margin-top: -88px;
	padding-top: 0;
}

/* line 434, ../_source/sass/index.scss */

.nav-index + .con_index .con_index_tab {
	padding-top: 48px;
}

/* line 438, ../_source/sass/index.scss */

.con_index .con_index_tab {
	height: 100%;
}

/*device-width*/

@media only screen and (min-width: 360px) and (max-width: 374px) {

/* line 471, ../_source/sass/index.scss */

html {
	font-size: 13px !important;
}

/* line 474, ../_source/sass/index.scss */

body {
	font-size: 14px !important;
}

}

@media only screen and (min-width: 375px) and (max-width: 413px) {

/* line 471, ../_source/sass/index.scss */

html {
	font-size: 14px !important;
}

/* line 474, ../_source/sass/index.scss */

body {
	font-size: 14px !important;
}

}

@media only screen and (min-width: 414px) and (max-width: 479px) {

/* line 471, ../_source/sass/index.scss */

html {
	font-size: 15px !important;
}

/* line 474, ../_source/sass/index.scss */

body {
	font-size: 14px !important;
}

}

@media only screen and (min-width: 480px) and (max-width: 539px) {

/* line 471, ../_source/sass/index.scss */

html {
	font-size: 17px !important;
}

/* line 474, ../_source/sass/index.scss */

body {
	font-size: 14px !important;
}

}

@media only screen and (min-width: 540px) and (max-width: 639px) {

/* line 471, ../_source/sass/index.scss */

html {
	font-size: 20px !important;
}

/* line 474, ../_source/sass/index.scss */

body {
	font-size: 14px !important;
}

}

@media only screen and (min-width: 640px) {

/* line 471, ../_source/sass/index.scss */

html {
	font-size: 23px !important;
}

/* line 474, ../_source/sass/index.scss */

body {
	font-size: 14px !important;
}

}

@media only screen and (max-width: 359px) {

/* line 937, ../_source/sass/_phone.scss */

.pt-list li .info-list {
	font-size: 12px;
}

/* line 940, ../_source/sass/_phone.scss */

.pt-list li .img {
	width: 70px;
	height: 70px;
}

/* line 944, ../_source/sass/_phone.scss */

.cm-btn-txt {
	font-size: 13px;
	right: 10px;
	bottom: 0;
}

/* line 949, ../_source/sass/_phone.scss */

.cm-back {
	font-size: 13px;
	left: 10px;
	bottom: 0;
}

/* line 471, ../_source/sass/index.scss */

html {
	font-size: 11px !important;
}

/* line 474, ../_source/sass/index.scss */

body {
	font-size: 14px !important;
}

}

@-webkit-keyframes fadeInLeft {

0% {
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

}

@keyframes fadeInLeft {

0% {
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

}

@-webkit-keyframes fadeOutRight {

0% {
	opacity: 1;
}

100% {
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

}

@keyframes fadeOutRight {

0% {
	opacity: 1;
}

100% {
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

}

@-webkit-keyframes fadeOutUp {

0% {
	opacity: 1;
}

100% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

}

@keyframes fadeOutUp {

0% {
	opacity: 1;
}

100% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

}

@-webkit-keyframes fadeInDown {

0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

}

@keyframes fadeInDown {

0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

}

